vscode/
node_modules/
dist/
package-lock.json
yarn-error.log
*.log
*.tsbuildinfo
*.tgz
*.zip
*.tar
*.tar.gz
*.tar.bz2
.idea/
flask-backend/venv/
flask-backend/__pycache__/
flask-backend/*.pyc
flask-backend/*.pyo
flask-backend/*.pyd
flask-backend/*.egg-info/
flask-backend/.pytest_cache/
flask-backend/.mypy_cache/
flask-backend/.coverage
flask-backend/.coverage.*
flask-backend/.hypothesis/
flask-backend/.hypothesis/
flask-backend/.env

events/venv