vscode/
node_modules/
dist/
package-lock.json
yarn-error.log
*.log
*.tsbuildinfo
*.tgz
*.zip
*.tar
*.tar.gz
*.tar.bz2
.idea/
flask-backend/venv/
flask-backend/__pycache__/
flask-backend/*.pyc
flask-backend/*.pyo
flask-backend/*.pyd
flask-backend/*.egg-info/
flask-backend/.pytest_cache/
flask-backend/.mypy_cache/
flask-backend/.coverage
flask-backend/.coverage.*
flask-backend/.hypothesis/
flask-backend/.hypothesis/
flask-backend/.env
flask-backend/controllers/__pycache__/
flask-backend/controllers/*.pyc
flask-backend/controllers/*.pyo
flask-backend/controllers/*.pyd
flask-backend/models/__pycache__/
flask-backend/models/*.pyc
flask-backend/models/*.pyo
flask-backend/models/*.pyd
flask-backend/services/__pycache__/
flask-backend/services/*.pyc
flask-backend/services/*.pyo
flask-backend/services/*.pyd
flask-backend/utils/__pycache__/
flask-backend/utils/*.pyc
flask-backend/utils/*.pyo
flask-backend/utils/*.pyd
events/venv

events/__pycache__/
events/*.pyc
events/*.pyo
events/*.pyd


.aws-sam

